* {
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.javas{
justify-content: left;
}

/* cabecalho div*/
footer {
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 255, 248), rgb(0, 149, 255));
    align-content: center;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 1px 2px 4px #232323;
}


h1 {
    margin-top: 5%;
    margin-bottom: 30px;

}

h4{
    margin-top: 10px;
}

/* botãon das perguntas */
.metodo .metodo-nome {
    display: inline-block;
    background-color:rgb(0, 149, 255);
    width: 90px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 20px;
    /* arredondar */
    transition: background-color 0.3s, color 0.3s;
    /* mudança d cor */
}

.container{
    margin-bottom: 10%;
}
.metodo .metodo-nome:hover {
    background-color: #afd7f0;
    /* muda a cor */
    color: #ffffff;
}

/* resposta */
.resposta {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: 5px;
    /* arredondar resposta */
    margin-bottom: 10px;
}

.conteudo-resposta{
    margin-bottom: 20px;
}

.resposta.show {
    display: block;
}

.subtitulo{
margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 200px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color:rgb(0, 149, 255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
}

button:hover {
    background-color: #c0def2;
}

#demo , .resultado {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

input{
    background-color: rgba(0, 149, 255, 0.331);
}

#js{
    margin-top: 20px;
}
